.bars-2 {
    background-color: rgb(39, 160, 208);
    border-radius: 5px;
    width: 2.8vw;
}

li {
    background-color: black;
    list-style: none;
    border: none;
    display: flex;
    justify-content: center;
    padding: 0;   
}
