#bars-set {
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.viewer {
    height: 260px;
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

.bars {
    width:5%;
    //height: 150px;
    background-color: green;
    align-self: baseline;
    border-radius: 5px;
}




.viewer-2 {
    height: 260px;    
        ul {   
        display: flex;
        list-style: none;
        padding-left: 0px;
        }
}