<div class="container">

    <h1 class="text-center mt-3">VizSound</h1>

    <div id="controls">
        <form [formGroup]="sourceForm" *ngIf="!started" class="col-10 mx-auto my-3">
            <div class="form-group">
                <label for="title">Paste an URL</label>
                <input type="text" class="form-control" id="source" formControlName="source" placeholder="https://my-URL.mp3">
            </div>
            <div id="message-source">
                <button id="playIt" class="col-12 mx-auto" *ngIf="sourceForm.valid" (click)="playIt()">Start streaming</button>            
                <p class="text-center" *ngIf="sourceForm.get('source').errors?.pattern">Please enter a valid URL</p>
            </div>
        </form>

        <div class="row mt-5">
            <div class="row col-8 mx-auto justify-content-center">            
                <button id="stopIt" class="col-10 col-sm-8 col-md-6 mx-auto" *ngIf="!paused && started" (click)="stopIt()">Pause</button>
                <button id="resumeIt" class="col-10 col-sm-8 col-md-6 mx-auto" *ngIf="paused && started" (click)="resumeIt()">Resume</button>
            </div>
        </div>
    </div>
    <div class="row my-4" [ngClass]="{'moving-down': goDown === true}">
    <div class="viewer col-10 mx-auto" [ngClass]="{'viewing': goDown === false && started === true}">
        <div id="bars-set">
            <div id="bar1" class="bars" [ngStyle]="{height: getHeights(0)}"></div>
            <div id="bar2" class="bars" [ngStyle]="{height: getHeights(1)}"></div>
            <div id="bar3" class="bars" [ngStyle]="{height: getHeights(2)}"></div>
            <div id="bar4" class="bars" [ngStyle]="{height: getHeights(3)}"></div>
            <div id="bar5" class="bars" [ngStyle]="{height: getHeights(4)}"></div>
            <div id="bar6" class="bars" [ngStyle]="{height: getHeights(5)}"></div>
            <div id="bar7" class="bars" [ngStyle]="{height: getHeights(6)}"></div>
            <div id="bar8" class="bars" [ngStyle]="{height: getHeights(7)}"></div>
            <div id="bar9" class="bars" [ngStyle]="{height: getHeights(8)}"></div>
            <div id="bar10" class="bars" [ngStyle]="{height: getHeights(9)}"></div>
            <div id="bar11" class="bars" [ngStyle]="{height: getHeights(10)}"></div>
            <div id="bar12" class="bars" [ngStyle]="{height: getHeights(11)}"></div>
            <div id="bar13" class="bars" [ngStyle]="{height: getHeights(12)}"></div>
            <div id="bar14" class="bars" [ngStyle]="{height: getHeights(13)}"></div>
            <div id="bar15" class="bars" [ngStyle]="{height: getHeights(14)}"></div>
            <div id="bar16" class="bars" [ngStyle]="{height: getHeights(15)}"></div>
        </div>
    </div>
    </div>

    <div class="row my-4" [ngClass]="{'moving-down': goDown === true}">
        <div class="viewer-2 col-10 mx-auto">
            <ul class="list-group">
                <app-viz-bars *ngFor="let data of datas; let i = index"
                    [index]="i"
                    [value]="data">
                </app-viz-bars>
            </ul>
        </div>
    </div>
</div>