@font-face {
    font-family: 'Belligerent-Madness';
    src:url('../../assets/fonts/Belligerent-Madness.ttf.woff') format('woff'),
        url('../../assets/fonts/Belligerent-Madness.ttf.svg#Belligerent-Madness') format('svg'),
        url('../../assets/fonts/Belligerent-Madness.ttf.eot'),
        url('../../assets/fonts/Belligerent-Madness.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
  }


@media screen and (max-width: 767.98px) {
    #time-reading {
                   width: auto;
  }
}

@media screen and (min-width: 768px) {
    #time-reading {
                   width: 160px;
  }
}

h1 {
    color: aquamarine;
    font-family: 'Belligerent-Madness';
    font-size: 2rem;
}

label {
    color: whitesmoke;
    font-size: 0.8rem;
    padding-left: 5px;
}

.controls {
    min-height: 200px;
}

.user-message {
    min-height: 253px;
}

#time-reading {
    font-size: 2rem;
    font-weight: 600;
    //width: 155px;
    min-height: 50px;
}

#bars-set {    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.viewer {
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

.viewing {
    height: 210px;
}

.bars {
    width: 2.8vw;
    background-color: green;
    align-self: baseline;
    border-radius: 5px;
}

.viewer-2 {
    height: 200px;    
        ul {   
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
}

button {
    border-radius: 5px;
    box-shadow: none;
    border: none;
    text-align: center;
    font-weight: 600;
    background-color: rgb(61, 164, 193);
    height: 30px;
    color: whitesmoke;
}

p {
    font-weight: 400;
    font-family: Georgia;
    color: rgb(61, 125, 210);
    font-size: 0.8rem;
}

#message-source {
    margin-top: 20px;
    min-height: 40px;
}

input {
    background-color: rgb(53, 53, 53);
}

.tendance {
    display: flex;
    justify-content: space-around;
    color: rgb(149, 0, 255);
    font-size: x-large;
    font-weight: 700;
    padding: 0;
}

.lines {
    width: 2.4vw;
    margin: 0.75%;
    text-align: center;
}

.moving-down {
    animation: godown 1000ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes godown {
    0% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(200px);
    }
  }