<div class="container">

    <h1 class="text-center mt-3">VizSound</h1>

    <div id="controls">
        <form [formGroup]="sourceForm" *ngIf="!started && !ended" class="col-10 mx-auto my-3">
            <div class="form-group">
                <label for="title">Paste an URL</label>
                <input type="text" class="form-control" id="source" formControlName="source" placeholder="https://my-URL.mp3">
            </div>
            <div id="message-source">
                <button id="playIt" class="col-12 mx-auto" *ngIf="sourceForm.valid" (click)="playIt()">Start streaming</button>            
                <p class="text-center" *ngIf="sourceForm.get('source').errors?.pattern">Please enter a valid URL</p>
                
            </div>
        </form>
        

        <div class="buttons row mt-5" *ngIf="!errorMsg">
            <div class="row col-8 mx-auto justify-content-center" *ngIf="!goDown">            
                <button id="stopIt" class="col-10 col-sm-8 col-md-6 mx-auto" *ngIf="!paused && started && !this.audioService.userActionNeeded" (click)="pauseIt()">Pause</button>
                <button id="resumeIt" class="col-10 col-sm-8 col-md-6 mx-auto" *ngIf="paused && started && !this.audioService.userActionNeeded" (click)="resumeIt('resume')">Resume</button>
                <button id="restartIt" class="col-10 col-sm-8 col-md-6 mx-auto" *ngIf="started && this.audioService.userActionNeeded" (click)="resumeIt('initialUserAction')">Play</button>
            </div>
        </div>

        <p class="text-center mt-5" *ngIf="errorMsg">{{errorMsg}}</p>
        <p class="user-message text-center mt-5" *ngIf="userMessage">{{userMessage}}</p>
        <!--Affichage du temps de lecture en utilisant le date pipe de Angular pour formater en HH:mm:ss-->
        <div class="row mt-3 justify-content-center">            
            <p id="time-reading" *ngIf="started">{{timer | date:'HH:mm:ss'}}</p>            
        </div>
        
    </div>
    <!--Affichage des barres de manière basique-->
    <!--Modification de la hauteur, de la couleur et animation initiale en utilisant des directives par attribut-->
    <div class="row mb-4" [ngClass]="{'moving-down': goDown === true}">
    <div class="viewer col-10 mx-auto" [ngClass]="{'viewing': goDown === false && started === true}">
        <div id="bars-set">
            <div id="bar1" class="bars" [ngStyle]="{'height': getHeights(0), 'background-color': tendancyColors[0]}"></div>
            <div id="bar2" class="bars" [ngStyle]="{'height': getHeights(1), 'background-color': tendancyColors[1]}"></div>
            <div id="bar3" class="bars" [ngStyle]="{'height': getHeights(2), 'background-color': tendancyColors[2]}"></div>
            <div id="bar4" class="bars" [ngStyle]="{'height': getHeights(3), 'background-color': tendancyColors[3]}"></div>
            <div id="bar5" class="bars" [ngStyle]="{'height': getHeights(4), 'background-color': tendancyColors[4]}"></div>
            <div id="bar6" class="bars" [ngStyle]="{'height': getHeights(5), 'background-color': tendancyColors[5]}"></div>
            <div id="bar7" class="bars" [ngStyle]="{'height': getHeights(6), 'background-color': tendancyColors[6]}"></div>
            <div id="bar8" class="bars" [ngStyle]="{'height': getHeights(7), 'background-color': tendancyColors[7]}"></div>
            <div id="bar9" class="bars" [ngStyle]="{'height': getHeights(8), 'background-color': tendancyColors[8]}"></div>
            <div id="bar10" class="bars" [ngStyle]="{'height': getHeights(9), 'background-color': tendancyColors[9]}"></div>
            <div id="bar11" class="bars" [ngStyle]="{'height': getHeights(10), 'background-color': tendancyColors[10]}"></div>
            <div id="bar12" class="bars" [ngStyle]="{'height': getHeights(11), 'background-color': tendancyColors[11]}"></div>
            <div id="bar13" class="bars" [ngStyle]="{'height': getHeights(12), 'background-color': tendancyColors[12]}"></div>
            <div id="bar14" class="bars" [ngStyle]="{'height': getHeights(13), 'background-color': tendancyColors[13]}"></div>
            <div id="bar15" class="bars" [ngStyle]="{'height': getHeights(14), 'background-color': tendancyColors[14]}"></div>
            <div id="bar16" class="bars" [ngStyle]="{'height': getHeights(15), 'background-color': tendancyColors[15]}"></div>
        </div>
    </div>
    </div>
    <!--Affichage des barres en utilisant une directive structurelle-->
    <!--Animation initiale en utilisant des directives par attribut-->
    <div class="row my-4" [ngClass]="{'moving-down': goDown === true}">
        <div class="viewer-2 col-10 mx-auto">
            <ul class="list-group">
                <app-viz-bars *ngFor="let data of datas; let i = index"
                    [index]="i"
                    [value]="data"
                    [color]="tendancyColorsBottom[i]">
                </app-viz-bars>
            </ul>
        </div>
    </div>
    <!--Ici aussi j'aurais pu utiliser une directive structurelle... mais le code était déjà là pour mes essais-->
    <div class="row tendance col-10 mx-auto mb-5">
        <div id="line0" class="lines">{{tendancyDatas[0]}}</div>
        <div id="line1" class="lines">{{tendancyDatas[1]}}</div>
        <div id="line2" class="lines">{{tendancyDatas[2]}}</div>
        <div id="line3" class="lines">{{tendancyDatas[3]}}</div>
        <div id="line4" class="lines">{{tendancyDatas[4]}}</div>
        <div id="line5" class="lines">{{tendancyDatas[5]}}</div>
        <div id="line6" class="lines">{{tendancyDatas[6]}}</div>
        <div id="line7" class="lines">{{tendancyDatas[7]}}</div>
        <div id="line8" class="lines">{{tendancyDatas[8]}}</div>
        <div id="line9" class="lines">{{tendancyDatas[9]}}</div>
        <div id="line10" class="lines">{{tendancyDatas[10]}}</div>
        <div id="line11" class="lines">{{tendancyDatas[11]}}</div>
        <div id="line12" class="lines">{{tendancyDatas[12]}}</div>
        <div id="line13" class="lines">{{tendancyDatas[13]}}</div>
        <div id="line14" class="lines">{{tendancyDatas[14]}}</div>
        <div id="line15" class="lines">{{tendancyDatas[15]}}</div>
        
    </div>


</div>